.popup__close-button {
  width: 40px;
  height: 40px;
  background: url('../../../images/plus.svg') center center/contain no-repeat;
  transform: rotate(45deg);
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 575px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 5px;
  }
}
