.dots-loader__dot {
  font-size: 14px;
  line-height: 2;
  color: #fff;
}

.dots-loader__dot:nth-child(1) {
  animation: dot-pulse 1s ease-in-out infinite;
}

.dots-loader__dot:nth-child(2) {
  animation: dot-pulse 1s .1s ease-in-out infinite;
}

.dots-loader__dot:nth-child(3) {
  animation: dot-pulse 1s .2s ease-in-out infinite;
}
