.header__user-email {
  display: inline-block;
  margin: 0 25px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 575px) {
  .header__user-email {
    display: block;
    margin-right: 0;
    margin-bottom: 18px;
  }
}
